@** Declarando a classe de modelo desta página *@
@model ContasApp.Presentation.Models.AccountPasswordRecoverViewModel

<div>
    <div class="text-center">
        <h4>Esqueci minha senha</h4>
        <p>Entre com o email para recuperar sua senha.</p>
    </div>
    <hr />

    @** Criando um formulário *@
    @using (Html.BeginForm())
    {
        <div class="text-center">
            <h5>@TempData["Mensagem"]</h5>
        </div>

        <div>
            <div class="mb-2">
                <label>Email do usuário:</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="mb-2 d-grid">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
            <div class="mb-2 d-grid">
                <a href="/Account/login" class="btn btn-light">
                    Já possui conta? <strong>Acesse aqui</strong>
                </a>
            </div>
        </div>
    }
</div>


